<html>
<head>
  <meta charset="utf-8">
  <title>Sorting data in AngularJs</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
  <script src="app.js" charset="utf-8"></script>
  <link rel="stylesheet" href="../standard.css">
</head>
<body ng-app="myModel">
  <div ng-controller="myController">
    <input type="checkbox" ng-model="isShowBonus" /> Show Bonus
    <input type="checkbox" ng-model="isMaskSalary" /> Mask Salary
    <table>
      <tr>
        <th>Name</th>
        <th>Salary</th>
        <th ng-show="isShowBonus">Bonus</th>
      </tr>
      <tr ng-repeat="employee in employees">
        <td>{{employee.first_name}} {{employee.last_name}}</td>
        <td>{{employee.salary | currency | mask:isMaskSalary}}</td>
        <td ng-show="isShowBonus">{{employee.salary | bonus | currency:void:0}}</td>
      </tr>
    </table>
  </div>

</body>
</html>
