<h1>{{studentDetailsCtrl.header}}</h1>
<div class="studentDetails">
  <div>
    <label>Id</label>
    <span>{{studentDetailsCtrl.student.id}}</span>
  </div>
  <div>
    <label>First Name</label>
    <span>{{studentDetailsCtrl.student.first_name}}</span>
  </div>
  <div>
    <label>Last Name</label>
    <span>{{studentDetailsCtrl.student.last_name}}</span>
  </div>
  <div>
    <label>Gender</label>
    <span>{{studentDetailsCtrl.student.gender}}</span>
  </div>
</div>
<a href="#/students">Back to Students List</a>
